/* Empieza Header */
.header {
    background-color: $fondoheader; }
    .header h1 {
      font-size: 50px; }
    .header li {
      font-size: 30px;
      padding: 2rem;
     }
      .header li:hover {
        background-color: #a0b0e0;
        transition: 3;
        transform: translate(2px) rotate(2deg) skew(2deg) scale(1); }
  
  /* Termina Header */





/* Termina Header */