//Inicia color de fondo para Tops y Sacos
h2 {
	background-color: $fondoazul;
  }
  ////Termina color de fondo para Tops y Sacos
  
  //Inicia animacion a las imagenes del main
  .hover-animation {
	@extend %hoverAnimation;
  }
  //Termina animacion a las imagenes del main
  
  //Inicia edicion a la foto grande del main
  .fotogrande {
	@extend %fotoGrande;
  }
  //Termina edicion a la foto grande del main
  
  //Inicia edicion al texto que acompaña a la imagen grande del main
  .textomarca {
	  padding-right: 300px;
	  @include estiloTexto(20px,black);
	  font-weight: 100;
	  font-family: $raleway;
	  overflow: hidden;
  }
  //Termina edicion al texto que acompaña a la imagen grande del main
  
  //Inicia mediaQuery para modificar contenido en tamaño 1425
  @media (max-width: 1425px) {
	.version-cel {
	  display: none;
	}
  }
  //Termina mediaQuery para modificar contenido en tamaño 1425
  