/* Comienza fondo para cada html */
.fondosweaterslisos {
    background-color: #C6A9A9;
    padding: 30px; }
  
  /* Termina fondo para cada html */

/* Comienza titulo para cada html */
.titulouno {
    background-color: #C6A9A9;
    padding: 40px; }
    .titulouno p {
      display: inline block;
      background-color: #f0e5e5;
      padding: 30px;
      margin: 0px;
      text-align: center;
      text-size-adjust: 40px;
      font-weight: bold;
      border-radius: 10px;
      font-size: 25px; }
  
  /* Termina titulo para cada html */

