/* Comienza fondo para cada html */
.fondosweaterslisos {
    background-color:$fondoheader;
    padding: 30px; }

    /* Termina fondo para cada html */

/* Comienza titulo para cada html */
.titulouno {
    background-color: $fondoheader;
    padding: 40px; }
    .titulouno p {
      display: inline block;
      background-color: $fondocarousel;
      padding: 30px;
      margin: 0px;
      text-align: center;
      text-size-adjust: 40px;
      font-weight: bold;
      border-radius: 10px;
      font-size: 25px; }
  
  /* Termina titulo para cada html */

