/* Comienza titulo para cada html */
.titulouno {
    padding: 40px; }
    .titulouno p {
      display: inline block;
      background-color: #7b91a7;
      padding: 30px;
      margin: 0px;
      text-align: center;
      text-size-adjust: 40px;
      font-weight: bold;
      border-radius: 10px;
      font-size: 25px; }
  
  /* Termina titulo para cada html */

